.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e293b;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar {
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-item {
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #38bdf8;
}
